* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(rgb(139, 188, 64),rgb(213, 207, 207));
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

body.dark {
    background: radial-gradient(rgb(10, 10, 10), rgb(213, 207, 207));
    color: rgb(247, 245, 245);
}

.container {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.header p {
    font-size: 14px;
}

.header img {
    width: 14px;
    height: 14px;
}

.toppart {
    padding: 15px;
}

.toppart span {
    display: block;
    margin-bottom: 40px;   
}

.toppart strong {
    display: block;
    color: rgb(93, 136, 29);
    margin-bottom: 10px;
}

body.dark .toppart strong {
    color: rgb(75, 76, 75);
}

.bottompart {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 0 15px 50px 15px;
    border-radius: 15px;
    overflow: hidden;
}

body.dark .bottompart {
    background: rgb(34, 34, 34);
    color: rgb(231, 228, 228);
}

.passwordgeneration {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 40px;
    background: black;
    color: white;
    padding: 25px;
}

.passwordgeneration p {
    font-size: 14px;
}

.passwordinstruction {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.passwordinstruction p, .passwordinstruction span {
    font-size: 14px;
}

.numberofwords {
    display: flex;
    justify-content: space-between;
}

.numberofwords p {
    font-size: 16px;
}

.numberofwordsselection {
    padding: 25px;
}

.numberofwordsselection input {
    width: 100%;
    accent-color: green;
}

body.dark .numberofwordsselection input {
    accent-color: rgb(174, 242, 174);
}

.passwordoptions {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

body.dark .passwordoptions {
    border: 1px solid rgb(93, 91, 91);
}

.passwordoptions div p {
    font-size: 20px;
    margin-left: 20px;
}

.passwordoptions input {
    accent-color: green;
}

body.dark .passwordoptions input {
    accent-color: rgb(174, 242, 174);
}

.passwordcustoms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 70px;
    padding: 25px;
    border-radius: 15px;
}

#generate {
    width: 95%;
    height: 5vh;
    border-radius: 5px;
    background: rgb(96, 228, 96);
    margin: 0 auto 50px auto;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

#copy {
    width: 12%;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
    border-radius: 10px;
    height: 50px;
    align-self: center;
}

#password {
    font-size: 35px;
    overflow-wrap: break-word;
    color: rgb(244, 241, 58);
}

.passwords {
    width: 85%;
}